# ignore everything
*

# except for the following
!.gitignore
!.gitmodules
!src/**
!thirdParty/**
!CMakeLists.txt
vcpkg.json
CMakePresets.json

# ...even if they are in subdirectories
!/*

# ignore these extensions
*.vcxproj*
*.cmake*
**/CMakeFiles/**
**/*.dir/**
*.sln
**/x64/**
**/CMakeCache.txt
*.lib
*.pdb
CMakeUserPresets.json
**/.vs/**
src/engine/out/**
!src/engine/thirdparty/physx/
!src/engine/thirdparty/physx/Release/*.lib
!src/engine/thirdparty/physx/Debug/*.lib
src/engine/thirdparty/physx/Release/WindowsPrebuiltRelease.zip
src/engine/thirdparty/physx/Debug/physx_binaries.zip
src/engine/out/**