# ignore everything
*

# except for the following
!.gitignore
!.gitmodules
!src/**
!thirdParty/**
!CMakeLists.txt

# ...even if they are in subdirectories
!*/

# ignore these extensions
*.vcxproj*
*.cmake*
**/CMakeFiles/**
**/messages.dir/**